/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
   height:100%;
}
/*.map_opt*/
.bk-root {
    font-family: 'Poppins', sans-serif;
    font-size: 0.80em;
    font-weight: 320;
    line-height: 1.7em;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.bk.download_spinner{    
 display:flex;  
  opacity: 1;
  transition: opacity linear 0.1s;  

  visibility: hidden;  
}
.bk.download_spinner:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #F16996;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
  visibility: visible;
}
.bk.stoploading_download_spinner{
color: blue;
}

.bk.bk-btn.bk-btn-success{
 background-color:#282F3A;
 background-image: url(/bokeh/static/icons/download.png);
 background-repeat: no-repeat;
 background-position: center;
 color: white;
 display:inline-block;
  float: left;
 display:flex;
 align-items: left;
 border-width:0px;
 height: 30px;
 min-width:40px;
 
 
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.bk.loader_time_fig{    
  display:flex;  
  opacity: 1;
  transition: opacity linear 0.1s;  
  visibility: hidden;  
}
.bk.loader_time_fig:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #F16996;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
  visibility: visible;
}

.bk.stoploading_time_fig{
color: blue;
}

.bk.bk-btn.bk-btn-primary:hover:after{
}
.bk.bk-btn.bk-btn-primary{
		background: #F16996;
	border:1px solid black;
	display:flex;
	border-color:#495568;
	height: 30px;
	width:230px;
	margin-left:0px;
	position: inline-block;
	bottom:auto;
}
.bk.bk-input{
	padding: 2px;
}
.bk-root .choices__list--dropdown {
	background: white;
	color: black;
	}
.bk-root .choices__inner .choices__item.solid{
	color:white;
	}
	
.bk-root .choices {
	margin-bottom:0px;
	}
	
.bk-root .choices__input{
    padding-right:40px;
	padding-bottom:40px;
	}
.bk-root .choices__inner {
	background:#F1F2F3; 
	}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 12px 0px;
    border: none;
    border-radius: 0;
    position: relative;
	height: 60px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
	position: relative;
    border: none;
	
}
.navbar-expand-lg {
   background: #495568;
   }

a[data-toggle="collapse"] {
    position: relative;
}
:root {
    accent-color: #F16996;
}
input[type=checkbox]{
    cursor: pointer;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    position:absolute;
	height:100%;
    align-items: stretch;
    perspective: 1332px;
}

#sidebar {
   min-width: 310px;
    max-width: 310px;
	background: #3A4453;
    height:100vh;
    min-height: 730px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -310px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
    background: #282f3a;
	height:59px;
	margin-bottom:0px;
}

#sidebar > .sidebar-header .bk.app_title{
    display:inline-block; min-width: 270px;
}

#sidebar > .sidebar-bokeh {
    width: 100%;
    height: calc(100% - 130px);
    min-height: 660px;
    padding-right: 14px;
    padding-left:14px;
}

#sidebar > .sidebar-bokeh > .bk-root {
    height: calc(( 100% - 150px ) / 4);
}

#sidebar > .sidebar-bokeh > .bk-root:first-child {
    height: calc(( 100% - 150px ) / 2);
}

#sidebar > .sidebar-bokeh > .bk-root:nth-child(4) {
    height: 77px;
}

#sidebar > .sidebar-bokeh > .bk-root > .bk {
    height: 100% !important;
    width: auto !important;
}

#sidebar > .sidebar-bokeh > .bk-root > .bk > .bk {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

#sidebar > .sidebar-bokeh > .bk-root:nth-child(4) > .bk > .bk {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

#sidebar > .sidebar-bokeh > .bk-root .bk.search_period {
    position: relative !important;
    width: calc(50% - 10px) !important;
    height: 100% !important;
    left: auto !important;
}

#sidebar > .sidebar-bokeh > .update-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .update {
    flex: 0 0 75%;
    max-width: 75%;
    margin-top: 6px;
    height: 40px;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .update > .bk-root > .bk { 
    height: 40px !important;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .update > .bk-root > .bk > .bk { 
    height: 30px !important;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .update .bk.stoploading_time_fig {
    left: auto !important;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .download {
    flex: 0 0 16.6666667%;
    max-width: 16.6666667%;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .download .bk-btn-group {
    margin-top: 5px;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .download > .bk-root > .bk { 
    height: 40px !important;
}

#sidebar > .sidebar-bokeh > .update-wrapper > .download > .bk-root > .bk > .bk { 
    height: 30px !important;
}

#sidebar > .sidebar-bokeh .bk.filter_title {
    display: inline-block; min-width: 274px; max-height: 25px;background-color:#282F3A;color:white;
    margin-top:10px;padding:4px;box-shadow: 5px 10px 20px #495568 inset;
    border-radius:2px;
    width: 100% !important;
}

#sidebar > .sidebar-bokeh .bk.filter_checkboxgroup_1,.bk.filter_checkboxgroup_2,.bk.filter_checkboxgroup_3,.bk.filter_checkboxgroup_4 {
    color: white; 
    overflow-y: auto;
    background:#495568;
    padding: 6px;
    width: 100% !important;
}

#sidebar > .sidebar-bokeh .bk.filter_checkboxgroup_1 {
    min-height: 80px;
    height: calc(50% - 31px) !important;
}
#sidebar > .sidebar-bokeh .bk.filter_checkboxgroup_2 {
    min-height: 98px;
    height: calc(50% - 31px) !important;
}
#sidebar > .sidebar-bokeh .bk.filter_checkboxgroup_3 {
    min-height: 106px;
    height: calc(100% - 31px) !important;
}
#sidebar > .sidebar-bokeh .bk.filter_checkboxgroup_4 {
    min-height: 88px;
    height: calc(100% - 31px) !important;
}

#sidebar > .sidebar-bokeh > .bk-root .bk.bk.bk-input-group {
    height: calc(100% - 6px);
}
  
.bk.search_period .bk.bk-input-group label[class=bk]{display: inline-block; min-width: 130px; min-height: 25px;background-color:#282F3A;color:white;margin-top:10px;padding:4px;box-shadow: 5px 10px 20px #495568 inset;
    border-radius:2px	
}
   
  
.map_opt .bk-root .bk .bk .bk .bk.bk-input-group label[class=bk] input[type=radio]{
    accent-color: lightgrey;	
}
  
.bk.bk-input.flatpickr-input{
    color: white;background-color:#495568;min-width:130px;
    padding: 6px;min-height:10px;border: 0px;color: white
}
  /* --------
  .bk.bk-input{color: white;background-color:#495568;
  padding: 6px;min-height:20px;border: 1px;color: white; accent-color: red;}
  ----- */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 101%;
    height: 100%;
    min-height: 100%;
    transition: all 0.3s;
	position:relative;
	background-color:#F1F2F3;
	margin-left:0px;
	margin-right:0px;
	display:block;
	padding:0px;
	
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0);
    cursor: pointer;
	
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: white;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#kaart-tab{
	color:#0C0F2E;
}
#grafiek-tab{
	color:#0C0F2E;
}

.tab-content{
width: 100%;
 height: calc(100% - 60px);
 display:block;
 position: absolute;
}
#kaart{
	position:absolute; 
	width:101%;
	height:100%;
	display:block;
	border: none;	
}

#button_leg_bar {
  background-color: transparent;
  background-image: url(/bokeh/static/icons/layers.svg);
  background-repeat: no-repeat;
  border-width: 0px;
  bottom: 20px;
  right: 10px;
  width: 70px;
  position:fixed;
}

#dummy {
  background-color: transparent;
  border-width: 0px;
  bottom: 20px;
  right: 10px;
  width: 70px;
  position:fixed;
}

#maplayer_icon{
  width: 60px;
  height:60px;
  border-color: transparent;
  background-color: transparent;
  border-width: 0px;
  outline: none;
}

#button_legend {

  cursor: pointer; 
  color:#3681C1;
}
#button_legend:hover {color: blue}

#button-legend-text{
	display: inline-block;
}



.app_status
{
	display: block;
	margin-left:10px;
	height:2px;
	width: 300px;
	color: #3A4453;
	white-space: nowrap ;
	position:absolute;
    top:96%;

}


#threshold{
	display:flex;
	top:-60.5vh;
	height:26px;
	width: 26px;
}

.bk.threshold{

}
.bk.bk-btn.bk-btn-default:hover:after{
	content:"Drempelhoogte";
	margin-top:18px;
	background-color: black;
	color: #fff;
	border-radius: 6px;
	padding: 2px 5px;
}
.bk.bk-btn.bk-btn-default{
	 display:flex;
	 height:26px;
	 width: 26px;
	 margin-left: 60px;
	 margin-right:200px;
	 background-image: url(/bokeh/static/icons/threshold.png);
	 background-repeat: no-repeat;
	 background-position:center 2px center;
	 background-color: white;
	 border-color: white;
}

.bk.bk-btn.bk-btn-default.bk-active{
	  background-image: url(/bokeh/static/icons/threshold.png);
	  background-repeat: no-repeat;
	  background-position:center 2px center;
	  display:flex;
      margin-right:200px;
	  margin-left: 60px;
	  height: 26px;
	  text-align: center;
	  border-radius:4px;
	  background-color: #FE6F9E;
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -o-transition: 0.5s;
	  transition: 0.5s;
}

#zoekgrafiek-bar{
  background: #F8F9FA;
  border: 2px solid white;
  margin-left:0px;
  margin-right:0px;
  margin-top:3vh;
}

#zoekgrafiek-en-slider {
  position: relative;
  margin-left:0px;
  margin-right:0px;
  display:block;
  background-color: white;
}

#grafiek-lower{
    height: 16vh;
	margin-top: -1.2vh;
	margin-right:0px;
	margin-left:0px;
}

#grafiek-slider{
    height: 3vh;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	position: relative;
	background-color: white;	
}

#button-text{
    margin-top:12px;
	display: inline-block;
	margin-left:8px;
}

#button_lower {
  margin-top:12px;
  display: inline-block;
  margin-right: 1px;
  cursor: pointer; 
  margin-left: 10px;
  color:#3681C1;
}

#button_lower:hover {color: blue}

#button_lower:active {
  transform: translateY(4px);
}

/* ---------------------------------------------------
    styles on menu animation 
----------------------------------------------------- */
.menu-animation-width.animation-active {
    width: 100% !important;
}

.menu-animation-toolbar.animation-active {
    left: auto !important;
    right: 5px !important;
}

.menu-animation-slider {
    padding-right: 17px;
}

.menu-animation-slider.animation-active {
    padding-right: 57px;
}
/* ---------------------------------------------------
    styles on scrollbar
----------------------------------------------------- */
/* Scrollbar styles */


.sidebar-bokeh ::-webkit-scrollbar {
	width: 12px;
	height:10px;
	background-color: #424D5E;
	border-radius:4px;
}

.sidebar-bokeh ::-webkit-scrollbar-thumb {
	background-color: #3A4453;
	border-radius:4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.sidebar-bokeh ::-webkit-scrollbar-thumb:hover {
    background: black;
}
.sidebar-bokeh ::-webkit-scrollbar-corner{
	background-color: #495568;
	
}

.sidebar-bokeh ::-webkit-scrollbar-track{
	background-color:#495568
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius:4px;
	
}
.sidebar-bokeh ::-webkit-scrollbar-button:horizontal:decrement:hover {
   /* Select the down or left scroll button when it's being hovered by the mouse */
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
        transform: rotateY(90deg);
    }
	
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

select.bk.bk-input {
    padding-right: 20px;
}

#grafiek-lower > .bk-root > .bk {
    width: 100% !important;
}

#grafiek-lower > .bk-root > .bk > .time_figure {
    width: 100% !important;
	overflow: auto;
}

#grafiek-slider > .bk-root > .bk {
    width: 100% !important;
}

#grafiek-slider > .bk-root > .bk > .bk {
    width: 100% !important;
}

#grafiek_upper {
    height: 60.5vh;	
	background-color: white;
	margin-top:1vh;
	overflow-y:auto;
	overflow-x:hidden;
}